:root {
  --backgroundcolor: #1c1a23;
  --darktextcolor: #5d5d5d;
  --lighttextcolor: #a39eb8;
  --mainsize: 2.5rem;
  --tilebackground: #282533;
  --bordercolor: #b7b7b733;
}
.container {
  background-color: var(--backgroundcolor);
  min-height: 100vh;
  max-width: 100%;
  color: var(--lighttextcolor);
  padding: 0 60px 60px 60px;
}
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu li {
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--darktextcolor);
}
.nav-menu li:hover {
  color: var(--lighttextcolor);
  transition: 0.35s;
  cursor: pointer;
}
.nav-item {
  margin: 0 50px;
}
#profile-pic {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 20px;
}
h1 {
  font-size: var(--mainsize);
  color: white;
}
p,
h3 {
  margin: 0;
}
p {
  font-size: 12px;
  margin: 3px 0;
}
.trending-section img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
}
.trending-section {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  row-gap: 40px;
}
.trending-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trending-item {
  padding: 25px;
  border-radius: 10px;
  /* border: 1px solid var(--lighttextcolor); */
  margin: 0 20px;
  box-shadow: 0px 0px 15px var(--lighttextcolor);
  background-color: var(--tilebackground);
}
.trending-item:hover {
  background-color: var(--lighttextcolor);
  color: var(--backgroundcolor);
  transition: 0.3s;
}
.trending-item h3 {
  margin-top: 5px;
}
